USE [master]
GO
/****** Object:  Database [Kabinet2]    Script Date: 19.06.2026 17:24:25 ******/
CREATE DATABASE [Kabinet2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Kabinet2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Kabinet2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Kabinet2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Kabinet2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Kabinet2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Kabinet2]
GO
/****** Object:  Table [dbo].[ACCESS_RIGHTS]    Script Date: 19.06.2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCESS_RIGHTS](
	[LOGIN] [varchar](255) NOT NULL,
	[PASSWORD] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LOGIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 19.06.2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESS](
	[PK_ADDRESS] [int] IDENTITY(1,1) NOT NULL,
	[FK_CLIENT] [int] NULL,
	[STREET] [varchar](255) NULL,
	[HOUSE_NUMBER] [varchar](20) NULL,
	[ROOM_NUMBER] [varchar](20) NULL,
	[ENTRANCE_NUMBER] [int] NULL,
	[FLOOR_NUMBER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BASKET]    Script Date: 19.06.2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BASKET](
	[PK_BASKET] [int] IDENTITY(1,1) NOT NULL,
	[FK_PRODUCT] [int] NULL,
	[FK_CLIENT] [int] NULL,
	[COUNT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_BASKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY_PRODUCT]    Script Date: 19.06.2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY_PRODUCT](
	[PK_CATEGORY_PRODUCT] [int] IDENTITY(1,1) NOT NULL,
	[NAME_CATEGORY] [varchar](55) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_CATEGORY_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 19.06.2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[PK_CLIENT] [int] IDENTITY(1,1) NOT NULL,
	[NUMBER] [varchar](12) NULL,
	[BIRTHDAY] [date] NULL,
	[GENDER] [varchar](1) NULL,
	[FK_LOGIN] [varchar](255) NULL,
	[SURNAME] [varchar](50) NULL,
	[NAME] [varchar](50) NULL,
	[PATRONYMIC] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_CLIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 19.06.2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[PK_EMPLOYEE] [int] IDENTITY(1,1) NOT NULL,
	[SURNAME] [varchar](55) NULL,
	[NAME] [varchar](55) NULL,
	[SERIA_AND_NUMBER] [varchar](55) NULL,
	[PATRONYMIC] [varchar](55) NULL,
	[PHOTO] [varchar](max) NULL,
	[NUMBER] [varchar](12) NULL,
	[EMAIL] [varchar](255) NULL,
	[FK_POST] [int] NULL,
	[FK_LOGIN] [varchar](255) NULL,
	[FK_SUBDVISION] [int] NULL,
 CONSTRAINT [PK__EMPLOYEE__E544F01D04271A4D] PRIMARY KEY CLUSTERED 
(
	[PK_EMPLOYEE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORY]    Script Date: 19.06.2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORY](
	[PK_HISTORY] [int] IDENTITY(1,1) NOT NULL,
	[FK_EMPLOYEE] [int] NULL,
	[DATE_TIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_HISTORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 19.06.2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[PK_ORDERS] [int] IDENTITY(1,1) NOT NULL,
	[DATE_ORDER] [datetime] NULL,
	[FK_CLIENT] [int] NULL,
	[FINAL_PRICE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_ORDERS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POST]    Script Date: 19.06.2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POST](
	[PK_POST] [int] IDENTITY(1,1) NOT NULL,
	[NAME_POST] [varchar](55) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_POST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 19.06.2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[PK_PRODUCT] [int] IDENTITY(1,1) NOT NULL,
	[NAME_PRODUCT] [varchar](55) NULL,
	[FK_CATEGORY_PRODUCT] [int] NULL,
	[PHOTO] [varchar](max) NULL,
	[PRICE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_IN_ORDER]    Script Date: 19.06.2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_IN_ORDER](
	[PK_PRODUCT_IN_ORDER] [int] IDENTITY(1,1) NOT NULL,
	[FK_ORDERS] [int] NULL,
	[FK_PRODUCT] [int] NULL,
	[COUNT] [int] NOT NULL,
	[PRICE_AT_PURCHASE] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_PRODUCT_IN_ORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBDVISION]    Script Date: 19.06.2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBDVISION](
	[PK_SUBDVISION] [int] IDENTITY(1,1) NOT NULL,
	[NAME_SUBDVISION] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_SUBDVISION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCESS_RIGHTS] ([LOGIN], [PASSWORD]) VALUES (N'123', N'B7827B17B0821B354FABF438D73691C2BF467AF7A44C374F8C505A5EE08B0D5D')
INSERT [dbo].[ACCESS_RIGHTS] ([LOGIN], [PASSWORD]) VALUES (N'admin123', N'240BE518FABD2724DDB6F04EEB1DA5967448D7E831C08C8FA822809F74C720A9')
INSERT [dbo].[ACCESS_RIGHTS] ([LOGIN], [PASSWORD]) VALUES (N'client', N'186474C1F2C2F735A54C2CF82EE8E87F2A5CD30940E280029363FECEDFC5328C')
GO
SET IDENTITY_INSERT [dbo].[ADDRESS] ON 

INSERT [dbo].[ADDRESS] ([PK_ADDRESS], [FK_CLIENT], [STREET], [HOUSE_NUMBER], [ROOM_NUMBER], [ENTRANCE_NUMBER], [FLOOR_NUMBER]) VALUES (1, 2, N'Карла Либкнехта', N'13', N'13', 1, 1)
SET IDENTITY_INSERT [dbo].[ADDRESS] OFF
GO
SET IDENTITY_INSERT [dbo].[BASKET] ON 

INSERT [dbo].[BASKET] ([PK_BASKET], [FK_PRODUCT], [FK_CLIENT], [COUNT]) VALUES (7, 2, 1, 2)
INSERT [dbo].[BASKET] ([PK_BASKET], [FK_PRODUCT], [FK_CLIENT], [COUNT]) VALUES (1037, 3, 1, 10)
INSERT [dbo].[BASKET] ([PK_BASKET], [FK_PRODUCT], [FK_CLIENT], [COUNT]) VALUES (2039, 1, 3, 7)
SET IDENTITY_INSERT [dbo].[BASKET] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORY_PRODUCT] ON 

INSERT [dbo].[CATEGORY_PRODUCT] ([PK_CATEGORY_PRODUCT], [NAME_CATEGORY]) VALUES (1, N'Хозяйственные')
INSERT [dbo].[CATEGORY_PRODUCT] ([PK_CATEGORY_PRODUCT], [NAME_CATEGORY]) VALUES (2, N'Овощи')
INSERT [dbo].[CATEGORY_PRODUCT] ([PK_CATEGORY_PRODUCT], [NAME_CATEGORY]) VALUES (3, N'Фрукты')
SET IDENTITY_INSERT [dbo].[CATEGORY_PRODUCT] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENT] ON 

INSERT [dbo].[CLIENT] ([PK_CLIENT], [NUMBER], [BIRTHDAY], [GENDER], [FK_LOGIN], [SURNAME], [NAME], [PATRONYMIC], [EMAIL]) VALUES (1, N'89516805649', CAST(N'2026-06-15' AS Date), N'М', N'client', NULL, NULL, NULL, NULL)
INSERT [dbo].[CLIENT] ([PK_CLIENT], [NUMBER], [BIRTHDAY], [GENDER], [FK_LOGIN], [SURNAME], [NAME], [PATRONYMIC], [EMAIL]) VALUES (2, N'89516805649', CAST(N'2026-06-01' AS Date), N'М', N'dima', NULL, NULL, NULL, NULL)
INSERT [dbo].[CLIENT] ([PK_CLIENT], [NUMBER], [BIRTHDAY], [GENDER], [FK_LOGIN], [SURNAME], [NAME], [PATRONYMIC], [EMAIL]) VALUES (3, N'89516806759', CAST(N'2026-06-17' AS Date), N'М', N'123', N'123', N'123', N'123', N'213@mail.ru')
SET IDENTITY_INSERT [dbo].[CLIENT] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([PK_EMPLOYEE], [SURNAME], [NAME], [SERIA_AND_NUMBER], [PATRONYMIC], [PHOTO], [NUMBER], [EMAIL], [FK_POST], [FK_LOGIN], [FK_SUBDVISION]) VALUES (1, N'Борисов', N'Максим', N'2121212121', N'Александрович', N'bb76f1c3-b6e8-4cff-9f80-43ffde5dead2.jpg', N'89516805649', N'maxim@gmail.com', 1, N'admin123', 1)
INSERT [dbo].[EMPLOYEE] ([PK_EMPLOYEE], [SURNAME], [NAME], [SERIA_AND_NUMBER], [PATRONYMIC], [PHOTO], [NUMBER], [EMAIL], [FK_POST], [FK_LOGIN], [FK_SUBDVISION]) VALUES (2, N'Евсеев', N'Макар', N'1231231231', N'Сергеевич', N'0b932c48-e676-4642-8aa5-b8f94163517d.png', N'89516805649', N'makar@gmail.com', 2, N'login', 2)
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
GO
SET IDENTITY_INSERT [dbo].[HISTORY] ON 

INSERT [dbo].[HISTORY] ([PK_HISTORY], [FK_EMPLOYEE], [DATE_TIME]) VALUES (1, 1, CAST(N'2026-06-15T09:58:59.260' AS DateTime))
INSERT [dbo].[HISTORY] ([PK_HISTORY], [FK_EMPLOYEE], [DATE_TIME]) VALUES (2, 1, CAST(N'2026-06-15T09:59:57.853' AS DateTime))
INSERT [dbo].[HISTORY] ([PK_HISTORY], [FK_EMPLOYEE], [DATE_TIME]) VALUES (3, 1, CAST(N'2026-06-15T10:32:01.330' AS DateTime))
SET IDENTITY_INSERT [dbo].[HISTORY] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDERS] ON 

INSERT [dbo].[ORDERS] ([PK_ORDERS], [DATE_ORDER], [FK_CLIENT], [FINAL_PRICE]) VALUES (1, CAST(N'2026-06-18T12:03:36.507' AS DateTime), 3, 0)
INSERT [dbo].[ORDERS] ([PK_ORDERS], [DATE_ORDER], [FK_CLIENT], [FINAL_PRICE]) VALUES (2, CAST(N'2026-06-18T12:42:41.860' AS DateTime), 3, 0)
INSERT [dbo].[ORDERS] ([PK_ORDERS], [DATE_ORDER], [FK_CLIENT], [FINAL_PRICE]) VALUES (3, CAST(N'2026-06-18T12:45:01.483' AS DateTime), 3, 300)
SET IDENTITY_INSERT [dbo].[ORDERS] OFF
GO
SET IDENTITY_INSERT [dbo].[POST] ON 

INSERT [dbo].[POST] ([PK_POST], [NAME_POST]) VALUES (1, N'Администратор')
INSERT [dbo].[POST] ([PK_POST], [NAME_POST]) VALUES (2, N'Сотрудник')
SET IDENTITY_INSERT [dbo].[POST] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT] ON 

INSERT [dbo].[PRODUCT] ([PK_PRODUCT], [NAME_PRODUCT], [FK_CATEGORY_PRODUCT], [PHOTO], [PRICE]) VALUES (1, N'Натуральное мыло', 1, NULL, 100)
INSERT [dbo].[PRODUCT] ([PK_PRODUCT], [NAME_PRODUCT], [FK_CATEGORY_PRODUCT], [PHOTO], [PRICE]) VALUES (2, N'Огурец', 2, N'/Resources/images/cucumber.png', 10)
INSERT [dbo].[PRODUCT] ([PK_PRODUCT], [NAME_PRODUCT], [FK_CATEGORY_PRODUCT], [PHOTO], [PRICE]) VALUES (3, N'Помидор', 2, NULL, 20)
SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_IN_ORDER] ON 

INSERT [dbo].[PRODUCT_IN_ORDER] ([PK_PRODUCT_IN_ORDER], [FK_ORDERS], [FK_PRODUCT], [COUNT], [PRICE_AT_PURCHASE]) VALUES (1, 1, 2, 1, CAST(10.00 AS Decimal(10, 2)))
INSERT [dbo].[PRODUCT_IN_ORDER] ([PK_PRODUCT_IN_ORDER], [FK_ORDERS], [FK_PRODUCT], [COUNT], [PRICE_AT_PURCHASE]) VALUES (2, 1, 1, 2, CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[PRODUCT_IN_ORDER] ([PK_PRODUCT_IN_ORDER], [FK_ORDERS], [FK_PRODUCT], [COUNT], [PRICE_AT_PURCHASE]) VALUES (3, 2, 2, 1, CAST(10.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[PRODUCT_IN_ORDER] OFF
GO
SET IDENTITY_INSERT [dbo].[SUBDVISION] ON 

INSERT [dbo].[SUBDVISION] ([PK_SUBDVISION], [NAME_SUBDVISION]) VALUES (1, N'Администрация')
INSERT [dbo].[SUBDVISION] ([PK_SUBDVISION], [NAME_SUBDVISION]) VALUES (2, N'Персонал')
SET IDENTITY_INSERT [dbo].[SUBDVISION] OFF
GO
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT])
REFERENCES [dbo].[CLIENT] ([PK_CLIENT])
GO
ALTER TABLE [dbo].[BASKET]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT])
REFERENCES [dbo].[CLIENT] ([PK_CLIENT])
GO
ALTER TABLE [dbo].[BASKET]  WITH CHECK ADD FOREIGN KEY([FK_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([PK_PRODUCT])
GO
ALTER TABLE [dbo].[CLIENT]  WITH CHECK ADD FOREIGN KEY([FK_LOGIN])
REFERENCES [dbo].[ACCESS_RIGHTS] ([LOGIN])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK__EMPLOYEE__FK_LOG__30F848ED] FOREIGN KEY([FK_LOGIN])
REFERENCES [dbo].[ACCESS_RIGHTS] ([LOGIN])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK__EMPLOYEE__FK_LOG__30F848ED]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK__EMPLOYEE__FK_POS__300424B4] FOREIGN KEY([FK_POST])
REFERENCES [dbo].[POST] ([PK_POST])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK__EMPLOYEE__FK_POS__300424B4]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK__EMPLOYEE__FK_SUB__31EC6D26] FOREIGN KEY([FK_SUBDVISION])
REFERENCES [dbo].[SUBDVISION] ([PK_SUBDVISION])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK__EMPLOYEE__FK_SUB__31EC6D26]
GO
ALTER TABLE [dbo].[HISTORY]  WITH CHECK ADD  CONSTRAINT [FK__HISTORY__FK_EMPL__398D8EEE] FOREIGN KEY([FK_EMPLOYEE])
REFERENCES [dbo].[EMPLOYEE] ([PK_EMPLOYEE])
GO
ALTER TABLE [dbo].[HISTORY] CHECK CONSTRAINT [FK__HISTORY__FK_EMPL__398D8EEE]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([FK_CLIENT])
REFERENCES [dbo].[CLIENT] ([PK_CLIENT])
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD FOREIGN KEY([FK_CATEGORY_PRODUCT])
REFERENCES [dbo].[CATEGORY_PRODUCT] ([PK_CATEGORY_PRODUCT])
GO
ALTER TABLE [dbo].[PRODUCT_IN_ORDER]  WITH CHECK ADD FOREIGN KEY([FK_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([PK_PRODUCT])
GO
ALTER TABLE [dbo].[PRODUCT_IN_ORDER]  WITH CHECK ADD FOREIGN KEY([FK_ORDERS])
REFERENCES [dbo].[ORDERS] ([PK_ORDERS])
GO
USE [master]
GO
